<template name="links">
    <!--Links on main page-->
    <div>
        <ul>
            <li><a href="/missionCommander">
                <i class="links fa fa-eye fa-2x"> Mission Commander</i></a>
            </li>
            <li><a href="/scienceTeam">
                <i class="links fa fa-pie-chart fa-2x"> Forskningsgruppa</i></a>
            </li>
            <li><a href="/astronautTeam">
                <i class="links fa fa-space-shuttle fa-2x"> Astronautgruppa</i></a>
            </li>
            <li><a href="/securityTeam">
                <i class="links fa fa-medkit fa-2x"> Sikkerhetsgruppa</i></a>
            </li>
            <li><a href="/communicationTeam">
                <i class="links fa fa-comment fa-2x"> Kommunikasjonsgruppa</i></a>
            </li>
        </ul>
    </div>
</template>